<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carrito de compras</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
</head>
<body>
    <div id="app">  
        <header>
            <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>Nombre de Empresa</strong>
                </a>
                <button 
                    class="navbar-toggler" 
                    type="button"
                    v-on:click="viewCard"
                >
                    <span class=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg></span>
                    <span>$ {{calculateTotal}}</span>
                </button>
            </div>
            </div>
        </header>
        <div 
            id="viewProductoShopping"
            v-show=viewProductosShopping
        >
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">
                        <div 
                            class="col-md-4"
                            v-for="(product, index) in products" 
                            v-if="product.cantidad > 0"
                        >
                            <div class="card mb-4 shadow-sm">
                            <img 
                                class="card-img-top" 
                                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" 
                                style="height: 100%; width: 100%; display: block;" 
                                :src="product.imagen" 
                                data-holder-rendered="true">
                            <div class="card-body">
                                <h3>{{product.name}}</h3>
                                <h4>Precio: ${{product.precio}} </h4>
                                <span>Cantidad: {{product.cantidad}}</span>
                                <span>Vendidos: {{product.shopping}}</span>
                                <br> <br>
                                <p class="card-text">{{product.descripcion}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button 
                                        type="button" 
                                        class="btn btn-sm btn-outline-secondary"
                                        v-on:click="addToCart(product, index)" 
                                    >
                                    Agregar a Carrito
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                            </div>
                        </div><!--final de for-->
                    </div><!--final row-->
                </div>
            </div>
        </div><!--ViewProductoShopping-->
        <div 
            id="shopingCardView"
            v-show=viewShopingCard
        >
        <div class="container">
            <div class="py-5 text-center">
                <h2>Tus Productos</h2>
            </div>
            <div class="row">
                <div class="col-md-6 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Tu carrito</span>
                        <span class="badge badge-secondary badge-pill">3</span>
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Product name</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$12</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                        <span>Total (MX)</span>
                        <strong>$20</strong>
                        </li>
                    </ul>
        
                </div>
                <div class="col-md-6 order-md-1">
                <h4 class="mb-3">Datos del Comprador</h4>
                <form class="needs-validation" novalidate="">
                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Nombre</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                        Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Apellido</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                        Valid last name is required.
                        </div>
                    </div>
                    </div>
        
                    <div class="mb-3">
                    <label for="email">Correo <span class="text-muted">(Opcional)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                    </div>
        
                    <div class="mb-3">
                    <label for="address">Dirección</label>
                    <input type="text" class="form-control" id="address" placeholder="Av Tumben" required="">
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                    </div>
        
                    <div class="mb-3">
                    <label for="address2">Segunda Dirección <span class="text-muted">(Opcional)</span></label>
                    <input type="text" class="form-control" id="address2" placeholder="Av Tumben">
                    </div>
        
                    <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Pais</label>
                        <select class="custom-select d-block w-100" id="country" required="">
                        <option value="">Selecione...</option>
                        <option>México</option>
                        </select>
                        <div class="invalid-feedback">
                        Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">Estado</label>
                        <select class="custom-select d-block w-100" id="state" required="">
                        <option value="">Selecione...</option>
                        <option>CDMX</option>
                        </select>
                        <div class="invalid-feedback">
                        Please provide a valid state.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">C.P</label>
                        <input type="text" class="form-control" id="zip" placeholder="" required="">
                        <div class="invalid-feedback">
                        Zip code required.
                        </div>
                    </div>
                    </div>

                    <hr class="mb-4">
        
                    <h4 class="mb-3">Tipo de pago</h4>
        
                    <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="credit">Tarjeta de Credito</label>
                    </div>

                    </div>
                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Nombre de Tarjeta de Credito</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                        Name on card is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Numero de tarjeta</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                        <div class="invalid-feedback">
                        Credit card number is required
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Fecha</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                        <div class="invalid-feedback">
                        Expiration date required
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback">
                        Security code required
                        </div>
                    </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Comprar</button>
                </form>
                </div>
            </div>
            </div><!--container-->
            <shopping-cart></shopping-cart>
        </div>
    </div><!--fina app-->
<script src="src/index.js"></script>
</body>
</html>